@viewport {
    width: device-width;
    initial-scale: 1.0;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    line-height: 22px;
    font-size: 14px;
    font-family: Helvetica;

    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    background: #F6F7F8;
    color: #1C1C1C;
}

ul {
    padding-left: 20px;
}

.page {
    margin-bottom: 5%;
    border-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    hyphens: auto;
}

.face {
    /* border-radius: 10px; */
    border-radius: 8px;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    ul {
        padding-left: 30px;
    }

    body {
        line-height: 24px;
        font-size: 16px;
    }
    .face {
        float: right;
        margin-left: 20px;
    }
    h1 {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .page {
        width: 860px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
    }
}

.q {
    text-decoration: underline;
    text-decoration-style: dashed;
}

li {
    margin-bottom:5px;
}

a,a:visited {
    text-decoration: none;
    /* color: #656765; */
    color: blue;
    color: #005CAF;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 180%;
    line-height: 100%;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
    margin-bottom: 1px;
    color: #6e6a67;
}

.abstract {
    /* color: rgb(102, 119, 125); */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #535953;
    font-size: 95%;
}

.seminar {
    color: rgb(102, 119, 125);
    margin: 10px;
}

.page {
    margin-bottom: 5%;
    border-style: none;
    padding: 15px 15px 15px;
}
