@viewport {
    width: device-width;
    initial-scale: 1.0;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    line-height: 24px;
    line-height: 28px;
    font-size: 18px;
    font-family: Charter, Helvetica;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    /* background: #d2eefc; */
    /* background: #e3f5fc; */
}

.page {
    margin-bottom: 5%;
    border-style: none;
    padding: 15px 15px 15px;
}

p {
    hyphens: auto;
}

p.desc::first-letter{
    float: left;
    font-size: 48px;
    line-height: 48px;
    padding-right: 5px;
    color: #6e6a67;
}

.face {
    border-radius: 10px;
    margin: 5px;
}

@media screen and (min-width: 600px) {
    .face {
        float: right;
        margin-left: 50px;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
}

@media screen and (min-width: 1024px) {
    .page {
        width: 860px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
    }
}

.q {
    text-decoration: underline;
    text-decoration-style: dashed;
}

li {
    margin-bottom:5px;
}

a,a:visited {
    text-decoration: none;
    color: #0782db;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 240%;
    line-height: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: CooperHewittBold;
    color: #6e6a67;
}

h1.dark {
    color: white;
}

h2 {
    font-size: 180%;
    color: #6e6a67;
}

h3 {
    font-size: 140%;
    margin-bottom: 1px;
    color: #6e6a67;
}

.abstract {
    color: rgb(102, 119, 125);
    /* text-align: justify; */
}

.seminar {
    color: rgb(102, 119, 125);
}

.page {
    margin-bottom: 5%;
    border-style: none;
    padding: 15px 15px 15px;
}


body.dark {
    background: black;
    color: #f2edeb;
}

a.dark, a:visited.dark {
    color: #f87d24;
    color: #03c2fc;
}

h2.dark {
    color: #919598;
}

h3.dark {
    color: #919598;
}


@media (prefers-color-scheme: dark) {    
    body {
        background: black;
        color: #f2edeb;
    }

    h1.light {
        color: black;
    }
    a, a:visited {
        color: #f87d24;
        color: #03c2fc;
    }

    body.light {
        background: white;
        color: black;
    }
    
    a.light,a:visited.light {
    text-decoration: none;
    color: #0782db;
    }
}
